<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/stylesheets/about.css">
</head>
<body>
    <h1>Jimi Hendrix</h1>
    <article>
        <p>Though his active career as a featured artist lasted a mere four years, Hendrix altered the course of popular music and became one of the most successful and influential musicians of his era. <br> An instrumentalist who radically redefined the expressive potential and sonic palette of the electric guitar, he was the composer of a classic repertoire of songs ranging from ferocious rockers to delicate, complex ballads.
        He also was the most charismatic in-concert performer of his generation. </p>
        <p>Moreover, he was a visionary who collapsed the genre boundaries of rock, soul, blues, and jazz and an iconic figure whose appeal linked the concerns of white hippies and black revolutionaries by clothing black anger in the colourful costumes of London’s Carnaby Street.</p>
    </article>
    <a href="/home">Go back</a>
</body>
</html>