<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Works</title>
    <link rel="stylesheet" href="/stylesheets/works.css">
</head>
<body>
    <h1>The Jimi Hendrix Experience</h1>
    <article>
        <p>In mid-1966, Hendrix met Chas Chandler — bass player of the British rock group the Animals — who signed an agreement with Hendrix to become his manager. Chandler convinced Hendrix to go to London, where he joined forces with bassist Noel Redding and drummer Mitch Mitchell to form the Jimi Hendrix Experience.</p>
        <p>While performing in England, Hendrix built up quite a following among the country's rock royalty, with the Beatles, the Rolling Stones, the Who and Eric Clapton all becoming great admirers of his work. One critic for the British music magazine Melody Maker said that he "had great stage presence" and looked at times as if he were playing "with no hands at all."</p>
    </article>
    <h2>"Hey Joe" and "Purple Haze"</h2>
    <article>
        <p>Released in 1967, the Jimi Hendrix Experience's first single, "Hey Joe," was an instant smash in Britain and was soon followed by hits such as "Purple Haze" and "The Wind Cries Mary." </p>
        <p>On tour to support his first album, Are You Experienced? (1967), Hendrix delighted audiences with his outrageous guitar-playing skills and his innovative, experimental sound. In June 1967 he also won over American music fans with his stunning performance at the Monterey Pop Festival, which ended with Hendrix lighting his guitar on fire</p>
    </article>
    <a href="/home">Go back</a>
</body>
</html>